
* {
    box-sizing: border-box;
}

html,body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
header{
    width: 100%;
	height: 50px;
	background-color: #044f88;
	text-align: right;
	position: fixed;
	top: 0;
	
}
.top-nav{
	list-style: none;

}
.top-nav li{
	display: inline-block;

}
.top-nav li a{
	color: #fff;
	text-decoration: none;
	padding: 15px;
	font-family: 'Oswald', sans-serif;
}
.top-nav li a:hover{
	color: #808895;
}

.all{
	width: 100%;
	height: 100%;
	margin: auto;
	background: url(../images/travel.jpg);
	display: table;
	top: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.all .inner{
	
	width: 100%;
	max-width: none;
	
}
.content{
	max-width: 500px;
	/* margin: 0 auto; */
	text-align: left;
	margin-left: 10px;
	padding:20px;
}
.content h1{
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #000;
	font-size: 5rem;
}
.btn{
	border-radius: 9px;
	 font-family: 'Oswald', sans-serif;
	 font-size: 135%;
	 background-color: #808895;
	 color: #000;
	 padding: 10px 20px;
	 border: solid #808895;
	 text-decoration-line: none;
}
.btn:hover{
	color: #fff;
	border: solid #fff;
	background-color: #045a93;
}

.center{
	width: 100%;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
h2{
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 70px;
	letter-spacing: 2px;
}
.words{

	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 25px;

}



.responsive {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	margin-bottom:50px;
	margin-left: 5px;
	
}
.responsive img{
	width: 100%;
	height: 350px;
	
}
.responsive .ps {
	position: absolute;
	top: 135%;
	left: 1%;
	font-family: 'Poppins', sans-serif;
	color:#000;
	font-size: 33px;
	padding: 10px;
	font-weight: bolder;
}

.responsive .p1{
	position: absolute;
	top: 135%;
	left: 34%;
	font-family: 'Poppins', sans-serif;
	color:#000;
	font-size: 33px;
	padding: 10px;
	font-weight: bolder;
}
.responsive .p2{
	position: absolute;
	top: 135%;
	right: 25%;
	font-family: 'Poppins', sans-serif;
	color:#000;
	font-size: 33px;
	padding: 10px;
	font-weight: bolder;
}
.responsive .p3{
	position: absolute;
	top: 173%;
	left: 1%;
	font-family: 'Poppins', sans-serif;
	color:#000;
	font-size: 33px;
	padding: 10px;
	font-weight: bolder;
}
.responsive .p4{
	position: absolute;
	top: 173%;
	left: 34%;
	font-family: 'Poppins', sans-serif;
	color:#000;
	font-size: 33px;
	padding: 10px;
	font-weight: bolder;
}
.responsive .p5{
	position: absolute;
	top: 173%;
	right: 27%;
	font-family: 'Poppins', sans-serif;
	color:#000;
	font-size: 33px;
	padding: 10px;
	font-weight: bolder;
}
.responsive .ps:hover{

	color:#044f88;
	
	
}  

.service{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	margin-top: 20px;
}

.service a{
	color: #000;
	text-decoration: none;
	font-size: 25px;
	text-transform: capitalize;

	
}
.service a:hover{
	color:#044f88;
}



.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.explore {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-left: 20px;
	margin-right: 20px;
	grid-gap: 20px;
	border-radius: 20px;
	
	
}
.explore div{
	border:#eee 5px solid;

}
.explore img{
	width: 100%;
	height: 250px;
	border: 0;
	
}
.explore a{
	text-decoration: none;
	color: #000;
}
h4{
	margin-left: 15px;
}
ul{
	text-decoration: none;
	list-style: none;
	
}
ul li{
	padding: 10px;
}
.last{
	background-color:#ccc;
	width: 100%;
	height: 250px;
	margin-top: 10px;
}
.row{
	margin: 0 auto;
	width: 80%;
	text-align: center;
	padding: 20px;
}
h3{
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 50px;
	color: #000;
}
.row input{
	border-radius: 9px;
	 font-family: 'Oswald', sans-serif;
	 font-size: 135%;
	 background-color: #fff;
	 color: #000;
	 padding: 10px 20px;
	 border: solid #808895;
	 text-decoration-line: none;
}
footer{
	position: relative;
	bottom: 0;
	width: 100%;
	height: 100px;
	background:  #044f88;
	text-align: center;
	padding: 20px;
	color:#fff;
}
footer a{
	color: #fff;
	padding: 20px;
}


@media screen and (max-width: 500px){
	.all{
		background: 50%;
	}
}

@media screen and (max-width: 768px) {
	.content h1{
		font-size: 50%;
	}
	.btn{
		font-size: 50%;
		padding: 5px 10px;
	}

}
@media screen and (max-width: 300px) {
	.content h1{
		font-size: 20%;
	}
	.btn{
		font-size: 50%;
		padding: 5px 10px;
	}

}